<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest używany w procesie publikowania/tworzenia pakietu projektu sieci Web. Działanie tego procesu można dostosować,
edytując ten plik MSBuild. Aby dowiedzieć się więcej na ten temat, odwiedź adres http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://interaktywneksiazki.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>interaktywneksiazki.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>interaktywneksiazki</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$interaktywneksiazki</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBCS" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-north-d.cloudapp.net;Initial Catalog=acsm_83413bf3a3ed69b;User ID=b94e98e7639c53;Password=cd2a7b7f" Name="server=eu-cdbr-azure-north-d.cloudapp.net;         database=acsm_83413bf3a3ed69b;         uid=b94e98e7639c53;         password=cd2a7b7f" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCDemo.Models.ProjectDbContext, MVCDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCS-Web.config Connection String">
      <ParameterValue>server=eu-cdbr-azure-north-d.cloudapp.net;         database=acsm_83413bf3a3ed69b;         uid=b94e98e7639c53;         password=cd2a7b7f</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>