@model MVCDemo.Models.Book

<div>

    <h1>Test - Book/Index</h1>
    <br />
    <div id="divListBooks">
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
        <div class="book_row">
            <div class="book_content"></div>
            <div class="book_content"></div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Book/Index.js"></script>
}